body{
	background: url('../img/paisajes_6.jpg');
	background-attachment: fixed;
}


#logo{
	
	background: #FFD700;
}

#menu ul li:hover{
	background: #FFD700;
}

.button_more{
	
	background: #FFD700;
}

#acordeon h3{
	
	background: #FFD700;
} 